

.field-validation-error {
    color: #f00;
    display: block;
}

.login-box {
    .validation-summary-errors {
        ul {
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin: 0;
                list-style: none;
            }
        }
    }
}


.filters-panel {
    background-color: #fafafa;

    > div {
        padding: 15px;
    }

    .search-bar {
        background-color: #f6f6f6;
    }
}

.table {
    thead th {
        background-color: #999;
        color: #fff;
        font-size: 1.2em;
    }

    th:first-child {
        width: 140px;
    }
}


/*** Product specific ***/

.product-picture {
    width: 64px;
    height: 64px;
}

.product-picture-lg {
    width: 100%;
}

td.accent {
    font-weight: bold;
}
