@model Marista.Common.ViewModels.BPRegVM

@{
    ViewBag.Title = "BPReg";
}

<div class="container">
    <div class="row">
        <div class="login-box col-sm-6 col-sm-offset-3 member-login-register-header text-center">
            <img src="/content/images/marista_club_logo.jpg">
        </div>
    </div>
    <div class="row">
        <h2>Successful registration</h2>

    </div>
</div>
