<div id="mini-cart" class="mini-cart dropdown">
    <div class="dropdown-toggle cart-head">
        <a href="/cart/index">
            <span class="cart-icon">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </span>

            <span class="cart-details">
                <span class="cart-items"><span id="sSmallCartItems">0</span> item(s)</span>
                <span class="mobile-hide"> - <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&euro;</span><span id="sSmallCartPrice">0</span></span></span>
            </span>

        </a>
    </div>
</div>
<script>
    function UpdateSmallCart() {
        $.ajax({
            url: "/cart/GetSmallCart",
            method: "GET",
            cache: false,
            async: false,

        }).done(function (res) {
            result = res;

        }).fail(function (jqXHR, textStatus) {
            alert(jqXHR);
        });

        $("#sSmallCartItems").text(result.ItemsCount);
        $("#sSmallCartPrice").text(result.Price.toFixed(2));
    }

    $(document).ready(
        function () {

            UpdateSmallCart();
        }
    );
</script>