.product-image img {
  width: 228px !important;
  height: 228px !important; }

.resp-vtabs {
  display: block;
  width: 100%; }

.resp-tabs-container {
  min-height: 162px; }

.accordion-menu {
  top: 85px; }

