@model IList<Marista.Common.ViewModels.SaleVM>

@{
    ViewBag.Title = "GetSales";
}

<div class="breadcrumbs">
    <!-- breadcrumbs -->
    <div class="container">
        <ul>
            <li>
                <a class="home" href="/home/index">Home</a>
            </li>
            <li>
                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </li>
            <li>
                Orders
            </li>
        </ul>
    </div>
</div>

<div id="main" class="column1">
    <!-- main -->
    <div class="container">
        <div class="row">
            <div class="main-content col-sm-12 col-md-12">
                <!-- main content -->
                <div id="content" class="site-content" role="main">
                    <article class="page type-page status-publish hentry">
                        <header class="entry-header">
                            <h1 class="page-title">Orders</h1>
                        </header>
                        <div class="entry-content">
                            <div class="woocommerce">
                                @Html.Action("Menu")
                                <div class="woocommerce-MyAccount-content">
                                    <table class="woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
                                        <thead>
                                            <tr>
                                                <th class="order-number"><span class="nobr">Order</span></th>
                                                <th class="order-date"><span class="nobr">Date</span></th>
                                                <th class="order-status"><span class="nobr">Status</span></th>
                                                <th class="order-total"><span class="nobr">Total</span></th>
                                                <th class="order-actions"><span class="nobr">&nbsp;</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var s in Model)
                                            {


                                                <tr class="order">
                                                    <td class="order-number" data-title="Order">
                                                        <a href="my_account_view_order.html">#@s.SaleId</a>
                                                    </td>
                                                    <td class="order-date" data-title="Date">
                                                        <time datetime="2018-02-03" title="1517668091">@s.OnDate.ToShortDateString()</time>
                                                    </td>
                                                    <td class="order-status" data-title="Status">
                                                        On Hold
                                                    </td>
                                                    <td class="order-total" data-title="Total">
                                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&euro;</span>@s.Total.ToString("#.00")</span> for @s.ItemCount item
                                                    </td>
                                                    <td class="order-actions" data-title="&nbsp;">
                                                        <a href="/customer/getsale?saleid=@s.SaleId" class="button view btn-view-order">View</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

